<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecommerce.shops.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.ecommerce.shops.bean.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="userName" property="username" jdbcType="VARCHAR"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="CHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="headImages" property="headimages" jdbcType="VARCHAR"/>
        <result column="hobbies" property="hobbies" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
      id, userName, account, password, sex, age, headImages, hobbies
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByAccount" resultMap="BaseResultMap" parameterType="com.ecommerce.shops.bean.User">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where 1 = 1
        <if test="account != null">
            and account = #{account,jdbcType=VARCHAR}
        </if>
        <if test="password != null">
            and password = #{password,jdbcType=VARCHAR}
        </if>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.ecommerce.shops.bean.User">
    insert into t_user (id, userName, account, 
      password, sex, age, headImages, 
      hobbies)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, #{age,jdbcType=INTEGER}, #{headimages,jdbcType=VARCHAR}, 
      #{hobbies,jdbcType=VARCHAR})
  </insert>

    <insert id="insertSelective" parameterType="com.ecommerce.shops.bean.User">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                userName,
            </if>
            <if test="account != null">
                account,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="headimages != null">
                headImages,
            </if>
            <if test="hobbies != null">
                hobbies,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=CHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="headimages != null">
                #{headimages,jdbcType=VARCHAR},
            </if>
            <if test="hobbies != null">
                #{hobbies,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.ecommerce.shops.bean.User">
        update t_user
        <set>
            <if test="username != null">
                userName = #{username,jdbcType=VARCHAR},
            </if>
            <if test="account != null">
                account = #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=CHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="headimages != null">
                headImages = #{headimages,jdbcType=VARCHAR},
            </if>
            <if test="hobbies != null">
                hobbies = #{hobbies,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.ecommerce.shops.bean.User">
    update t_user
    set userName = #{username,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      age = #{age,jdbcType=INTEGER},
      headImages = #{headimages,jdbcType=VARCHAR},
      hobbies = #{hobbies,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="getUserList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user limit #{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
    </select>

</mapper>